body {
  scroll-behavior: smooth;
}
#hero {
  background: url('img/hero.jpg') no-repeat center center/cover;
  color: white;
  font-weight: bold;
}
#advantages{
  background: url('img/adv.png') no-repeat center center/cover;
}
#hero a{
  background: #F86624;
  color: white;
  border: none;
  border-radius: 50px;
  
}
.white{
  color: white;
}
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mycard1{
  background-image: url('img/1.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 40px;
}
.mycard2{
  background-image: url('img/2.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 40px;
}
.mycard3{
  background-image: url('img/3.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  justify-content: end;
}
.mycard4{
  background-image: url('img/4.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  justify-content: end;
}
.mycard5{
  background-image: url('img/5.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  justify-content: end;
}
.mycard6{
  background-image: url('img/6.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  justify-content: end;
}
.card{
  height: 31.4vw !important;
}
.pod{
  color: white;
  /* padding-top: 20vw; */
  font-size: 2vw;
}
.price{
    padding-top: 0;
    font-size: 12pt;
  }
/* .slider{
  /* height: 80vw;  
}  */

.zayavka{
  background: #F86624;
  color: white;
  border: none;
}
.forms-items{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-check-input:checked {
  background-color: #F86624; 
  border-color: #F86624;
}
.modal-header {
  background-color: #F86624;   
  color: #fff;
  border-bottom: none;
}
.button-modal{
  background-color: #F86624;
  color: #fff;
}